<figure class="card">
  <div class="card-img">
    <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card-img1">
  </div>
  <h2 class="card-name">{%PRODUCTNAME%}</h2>
  <p class="card-feature"><span class="emoji-left">🖥</span>{%SCREEN%}</p>
  <p class="card-feature"><span class="emoji-left">🧮</span>{%CPU%}</p>
  <div class="card-footer">
    <p class="card-price">${%PRICE%}</p>
    <a href="/laptop?id={%ID%}" class="card-link">Check it out<span class="emoji-right">👉</span></a>
  </div>
</figure>